<div id="homepage" v-cloak>
  <div style="padding-top: 100px; padding-bottom: 25px; color: #14acc2;" class="d-flex flex-column justify-content-around" purpose="full-page-hero">
    <div class="container">

        <div class="display-1 text-primary-emphasis text-center"><%=__('Cristian Care Project')%></div>

        <p class="fw-bolder text-primary-emphasis mt-3">
            <%=__('It aims to give a free and open-source Web Software to whom want to manager its congregant also as a communit of IT Servants of God`s Kingdom. ')%>
        </p>
        <p class="text-primary-emphasis">
            <%=__('This site contains three kind of information:')%>
        </p>
        <ul class="text-primary-emphasis">
            <li><%=__('First one related to HOW TO INSTALL AND USE;')%></li>
            <li><%=__('The second is about HOW TO MAINTAIN (OR EXPAND) ITS SOURCE-CODE; and')%></li>
            <li><%=__('The final one is HOW TO SUPPORT AND COLLABORATE WITH THE PROJECT')%></li>
        </ul>
        <p class="text-primary-emphasis">
            <%=__('Fill free to navigate among these information or contact us for more information.')%>

        </p>
        <div class="row mt-2">
            <div class="col">
                    <div style="height: 15rem" class="card m-1">
                        <span class="card-header card-title fw-bolder">
                            <%=__('How to Install')%>
                        </span>
                        <div class="card-body">
                            <%=__('If you just want to have a Software to support your Church Management')%>
                        </div>
                        <div class="card-footer">
                            <a href="#install"><%=__('Click here')%></a>
                        </div>
                    </div>
            </div>
            <div class="col">
                <div style="height: 15rem" class="card m-1">
                        <span class="card-header card-title fw-bolder">
                            <%=__('How to Maintain')%>
                        </span>
                    <div class="card-body">
                        <%=__('If you are a Developer and want to change or expand something')%>
                    </div>
                    <div class="card-footer">
                        <a href="#maintain"><%=__('Click here')%></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div style="height: 15rem" class="card m-1">
                        <span class="card-header card-title fw-bolder">
                            <%=__('How to Collaborate')%>
                        </span>
                    <div class="card-body">
                        <%=__('If you want to donate once, twice or support us on spreading this free software')%>
                    </div>
                    <div class="card-footer">
                        <a href="#collaborate"><%=__('Click here')%></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div style="height: 15rem" class="card m-1">
                        <span class="card-header card-title fw-bolder">
                            <%=__('Contact')%>
                        </span>
                    <div class="card-body">
                        <%=__('If you are someone who want to participate deeply or understand a bit more about the Project')%>
                    </div>
                    <div class="card-footer">
                        <a href="/contact"><%=__('Click here')%></a>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 15rem;"></div>

        <section id="install">
            <div style="height: 10rem;"></div>
            <div class="display-2 text-primary">
                <%=__('How to Install')%>
            </div>
            <div class="row">
                <div class="col">
                    <p><%=__('To install it')%></p>
                    <ul>
                        <li><%=__('First, install [Node.js]')%> :(<a href="https://nodejs.org/pt/download/package-manager"><%=__('Click here')%></a>)</li>
                        <li><%=__('Second, download [Distribution Version]')%> :(<a href="#"><%=__('Click here')%></a>)</li>
                    </ul>
                </div>
                <div class="col">

                </div>
            </div>


        </section>

        <section id="maintain">
            <div style="height: 10rem;"></div>
            <div class="display-2 text-primary">
                <%=__('How to Maintain')%>
            </div>
            <img class="card-img" src="/images/maintenance.png" alt="Customize">

        </section>

        <section id="collaborate">
            <div style="height: 10rem;"></div>
            <div class="display-2 text-primary">
                <%=__('How to Collaborate')%>
            </div>
            <img class="card-img" src="/images/support-us.png" alt="Customize">

        </section>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
