<div id="homepage" v-cloak>
    <div style="padding-top: 100px; padding-bottom: 25px; color: #14acc2;"
         class="d-flex flex-column justify-content-around" purpose="full-page-hero">
        <div class="container text-primary-emphasis">

            <div class="display-1 text-primary-emphasis text-center"><%= __('Cristian Care Project') %></div>

            <p class="fw-bolder mt-3">
                <%= __('It aims to give a free and open-source Web Software to whom want to manager its congregant also as a communit of IT Servants of God`s Kingdom. ') %>
            </p>
            <p class="text-primary-emphasis">
                <%= __('This site contains four kind of information:') %>
            </p>
            <ul class="text-primary-emphasis">
                <li><%= __('First one related to HOW TO INSTALL AND USE;') %></li>
                <li><%= __('The second is about HOW TO MAINTAIN (OR EXPAND) ITS SOURCE-CODE; and') %></li>
                <li><%= __('The third one is HOW TO SUPPORT AND COLLABORATE WITH THE PROJECT') %></li>
                <li><%= __('The final one is HOW TO CONTACT US') %></li>
            </ul>
            <p class="text-primary-emphasis">
                <%= __('Fell free to navigate among these information or contact us for more information.') %>

            </p>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div style="height: 15rem" class="card m-1">
                        <span class="card-header card-title fw-bolder">
                            <%= __('How to Install') %>
                        </span>
                        <div class="card-body">
                            <%= __('If you just want to have a Software to support your Church Management') %>
                        </div>
                        <div class="card-footer">
                            <a href="#install"><%= __('Click here') %></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div style="height: 15rem" class="card m-1">
                        <span class="card-header card-title fw-bolder">
                            <%= __('How to Maintain') %>
                        </span>
                        <div class="card-body">
                            <%= __('If you are a Developer and want to change or expand something') %>
                        </div>
                        <div class="card-footer">
                            <a href="#maintain"><%= __('Click here') %></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div style="height: 15rem" class="card m-1">
                        <span class="card-header card-title fw-bolder">
                            <%= __('How to Collaborate') %>
                        </span>
                        <div class="card-body">
                            <%= __('If you want to donate once, twice or support us on spreading this free software') %>
                        </div>
                        <div class="card-footer">
                            <a href="#collaborate"><%= __('Click here') %></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div style="height: 15rem" class="card m-1">
                        <span class="card-header card-title fw-bolder">
                            <%= __('Contact') %>
                        </span>
                        <div class="card-body">
                            <%= __('If you are someone who want to participate deeply or understand a bit more about the Project') %>
                        </div>
                        <div class="card-footer">
                            <a href="/contact"><%= __('Click here') %></a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 15rem;"></div>

            <section id="install">
                <hr>
                <div style="height: 10rem;"></div>
                <div class="display-2 text-primary">
                    <%= __('How to Install') %>
                </div>
                <div class="row">
                    <div class="col">
                        <p><%= __('To install it') %> <%= __('Follow these instructions') %></p>
                        <ol>
                            <li><%= __('First, download and install [Node.js]') %> :(<a
                                        href="https://nodejs.org/pt/download/package-manager"><%= __('Click here') %></a>)
                            </li>
                            <li><%= __('Second, download our [Distribution Version]') %> :(<a
                                        href="/releases"><%= __('Click here') %></a>)
                            </li>
                            <li><%= __('According your Operational System (Windows, Linux, Unix, Mac OS, et all), do set the Environment Variables below: ') %>
                                (<a target="_blank"
                                    href="https://www3.ntu.edu.sg/home/ehchua/programming/howto/Environment_Variables.html"><%= __('Click here') %> <%= __('to know how to do it') %></a>)


                                <pre class="bg-dark text-success p-2">
                                <code>
# Are you running as [production] or [development]?
NODE_ENV=production
# Where (domain) will your server run?
BASE_URL=http://localhost
# Which server port should be exposed?
SERVER_PORT=80
# Who will send emails from Application to clients?
FROM_EMAIL_ADDRESS=no_reply@example.com
# How sender want to be recognized?
FROM_NAME=The Cristan Care`s Team
# Who will receive customer support emails?
INTERNAL_EMAIL_ADDRESS=support+development@example.com
# Brand new emails should be validated [true] or [false]?
VERIFY_EMAIL_ADDRESS=false
# To receive payments - you should create an 'https://stripe.com/' account
STRIPE_PUBLISHABLE_KEY=k_test_Zzd814nldl91104qor5911gjald
STRIPE_SECRET=sk_test_Zzd814nldl91104qor5911gjald
# To send emails - you should create an 'https://sendgrid.com' account
SENDGRID_SECRET=sk_prod__fake_Nfgh82401348jaDa3lkZ0d9Hm
# Which kind of database adapter must to be used [sails-disk], [sails-mongo], [sails-mysql]...
# https://sailsjs.com/documentation/concepts/extending-sails/adapters/available-adapters
DATASTORE_ADAPTER=sails-disk
DATASTORE_URL=mysql://user:password@host:port/database
# Is it a MONGO_DB NO-SQL database?
IS_MONGO_DB=false
# The unique Encryption Key for the application
DATA_ENCRYPTION_KEYS_DEFAULT=ffliOnsljHYX05U58V5AkDXHqMT+bTlVOKT+Q0LUpcA=
                                </code>
                            </pre>
                            </li>
                            <li>
                                <%= __('Update your libraries with [npm install] at shell command') %>
                                <pre class="bg-dark text-success p-2 text-start">
<code>
$ npm install
</code>
                                    </pre>
                            </li>
                            <li>
                                <%= __('If you want to run as Docker Container, do read DOCKER.md file for more information.') %>

                            </li>
                            <li>
                                <%= __('If you want to run as Standalone Server, type [node app.js] or [npm start] at shell command') %>
                                <pre class="bg-dark text-success p-2 text-start">
                                <code>
                                    $ node app.js
                                </code>
                            </pre>
                            </li>
                            <li>
                                <%= __('It is enough to run your application. If everything is ok, you will see the app running at http://server:port/') %></li>
                        </ol>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="card-img" src="/images/install.png" alt="Install" srcset="">

                        </div>
                    </div>
                </div>


            </section>

            <section id="maintain">
                <hr>
                <div style="height: 10rem;"></div>
                <div class="display-2 text-primary">
                    <%= __('How to Maintain') %>
                </div>

                <div class="row">
                    <div class="col">
                        <p>
                            <%= __('Cristian Care is a FullStack Web JavaScript Software developed with Sails.js framework') %>

                        </p>
                        <p>
                            <%= __('If you want to mantains this software you should learn Sails.js first, but JavaScripts experts.') %>

                        </p>
                        <p><%= __('Basic instructions to get you acquainted with this technology') %> <a
                                    href="/step-by-step">(<%= __('Click here') %>)</a></p>
                        <p><%=__('To download from GitHub Repository')%> <a href="https://github.com/rizikoblogger/cuidado-cristao"><%=__('Click here')%></a></p>
                        <p><%= __('During maintenance process you should find somethig like...') %></p>


                        <pre class="bg-dark text-success p-2">
                    <code>
/**
 * Route Mappings
 * (sails.config.routes)
 *
 * Your routes tell Sails what to do each time it receives a request.
 *
 * For more information on configuring custom routes, check out:
 * https://sailsjs.com/anatomy/config/routes-js
 */

module.exports.routes = {

  //  ╦ ╦╔═╗╔╗ ╔═╗╔═╗╔═╗╔═╗╔═╗
  //  ║║║║╣ ╠╩╗╠═╝╠═╣║ ╦║╣ ╚═╗
  //  ╚╩╝╚═╝╚═╝╩  ╩ ╩╚═╝╚═╝╚═╝
  'GET /':                   { action: 'view-homepage-or-redirect' },
  'GET /welcome/:unused?':   { action: 'dashboard/view-welcome' },

  'GET /faq':                { action:   'view-faq' },
  'GET /legal/terms':        { action:   'legal/view-terms' },
  'GET /legal/privacy':      { action:   'legal/view-privacy' },
  'GET /contact':            { action:   'view-contact' },

  'GET /signup':             { action: 'entrance/view-signup' },
  'GET /email/confirm':      { action: 'entrance/confirm-email' },
  'GET /email/confirmed':    { action: 'entrance/view-confirmed-email' },

  'GET /login?restricted=false':              { action: 'entrance/view-login' },
  'GET /password/forgot':    { action: 'entrance/view-forgot-password' },
  'GET /password/new':       { action: 'entrance/view-new-password' },

  'GET /account':            { action: 'account/view-account-overview' },
  'GET /account/password':   { action: 'account/view-edit-password' },
  'GET /account/profile':    { action: 'account/view-edit-profile' },




                        </code>
                    </pre>
                    </div>
                </div>
                <div class="col">
                    <img class="card-img" src="/images/maintenance.png" alt="Customize">
                </div>
                <p><%=__('The basic working on concepts about a Sails.js application you need to know (for while) is:')%></p>
                <ul>
                    <li>The <em>backend</em> server have to be running, and you should know this server address and port</li>
                    <li>The <em>browser</em> (i.e. Google Chrome) should be able to request a page from server/port</li>
                    <li>So, browsers will request a page and backends will check if the given path (i.e. localhost:8080/faq) exists</li>
                    <li>If does it exist, backend will check if there is a logged user and if there are routes to grant user access</li>
                    <li>No authentication or policy restriction were find, so the 'api/controller/controller-name.js' (as router.js definitions) will be load</li>
                    <li>If some data should be taken from datastore, the loaded controller will perform it and wait for answers</li>
                    <li>After loading and running that controller, backend will return a data or a rendered EJS page to the browser.</li>
                </ul>

                <img class="card-img" src="/images/SailsOverwiew.png" alt="Workflow">

                <p class="mt-4"><strong>So</strong>, to find where to start maintenance effort:</p>
                <ul>
                    <li>Do find the backend path requested</li>
                    <li>Locate it into config/routes.js file</li>
                    <li>Look for restrictions at config/policies.js file</li>
                    <li>Open and edit related controller file (i.e. /api/controllers/view-faq.js file).</li>
                </ul>
                <p>If your research tells you should maintain a <em>view</em> (or *.ejs) file: </p>
                <ul>
                    <li>Look at controller file and try to locate the view used by controller (i.e. viewTemplatePath: 'pages/faq')</li>
                    <li>Open /views/pages/[name].ejs files to find which component will be changed by you</li>
                    <li>Open /assets/js/pages/[name].page.js files to find which Vue2 Framework data will also be changed by you</li>
                </ul>
                <p>If your maintenance was at *.ejs or *.page.js files only, just reload the page at Browser.</p>
                <p>If your maintenance was at *.js files, You have to restart all application to see them working.</p>


            </section>

            <section id="collaborate">
                <div style="height: 10rem;"></div>
                <div class="display-2 text-primary">
                    <%= __('How to Collaborate') %>
                </div>
                <img class="card-img" src="/images/support-us.png" alt="Customize">

                <p class="mt-2 fw-bolder">You can...</p>
                <ul>
                    <li>Create an account and subscribe our STRIPE plans to keep it a free solution for the entire world <a href="/contribute/plans">Clicking here</a> </li>
                    <li>No account, just help our support team to maintain this site and git repository by PAYPAL donating of $560BRL/year <a href="https://www.paypal.com/checkoutnow?atomic-event-state=eyJkb21haW4iOiJzZGtfcGF5cGFsX3Y1IiwiZXZlbnRzIjpbXSwiaW50ZW50IjoiY2xpY2tfcGF5bWVudF9idXR0b24iLCJpbnRlbnRUeXBlIjoiY2xpY2siLCJpbnRlcmFjdGlvblN0YXJ0VGltZSI6NTY3NiwidGltZVN0YW1wIjo1Njc2LCJ0aW1lT3JpZ2luIjoxNzMxNzg0MTkzMDU5LCJ0YXNrIjoic2VsZWN0X29uZV90aW1lX2NoZWNrb3V0IiwiZmxvdyI6Im9uZS10aW1lLWNoZWNrb3V0IiwidWlTdGF0ZSI6IndhaXRpbmciLCJwYXRoIjoiL3NtYXJ0L2J1dHRvbnMiLCJ2aWV3TmFtZSI6InBheXBhbC1zZGsifQ%3D%3D&sessionID=uid_d01eb3df02_mtk6mdk6nti&buttonSessionID=uid_c8daf64965_mtk6mdk6ntm&stickinessID=uid_2285e06f44_mtk6mdk6nti&smokeHash=&sign_out_user=false&fundingSource=paypal&buyerCountry=BR&locale.x=pt_BR&commit=true&client-metadata-id=uid_d01eb3df02_mtk6mdk6nti&clientID=AbAIRoGcziyBMQZp7821jGD2SOA0cfB4bUmGGz7Wd2Ky9bnLUd6AYO8jZs-8ZkKAnWxvfn_BqwZG_5v4&env=production&sdkMeta=eyJ1cmwiOiJodHRwczovL3d3dy5wYXlwYWwuY29tL3Nkay9qcz9jbGllbnQtaWQ9QWJBSVJvR2N6aXlCTVFacDc4MjFqR0QyU09BMGNmQjRiVW1HR3o3V2QyS3k5Ym5MVWQ2QVlPOGpacy04WmtLQW5XeHZmbl9CcXdaR181djQmdmF1bHQ9dHJ1ZSZpbnRlbnQ9c3Vic2NyaXB0aW9uIiwiYXR0cnMiOnsiZGF0YS1zZGstaW50ZWdyYXRpb24tc291cmNlIjoiYnV0dG9uLWZhY3RvcnkiLCJkYXRhLXVpZCI6InVpZF9tamhuYmR2dGpxc2VnaHppZXVvZWFidGh6anJsYmcifX0&country.x=BR&xcomponent=1&version=5.0.465&token=9UT00100Y32063327">Clicking here</a> </li>
                    <li>No account, no STRIPE or PAYPAL, just donate any value to our partner Church<a target="_blank" href="https://igrejabarao.org.br/doacoes">Church Bank Accounts</a> </li>
                    <li>No payment, but just pray for us, because it was made to bless.</li>
                </ul>
                <p></p>
                <p class="mt-2 fw-bolder">You also can...</p>
                <ul>
                    <li>Join us on developing at <a href="https://github.com/rizikoblogger/cuidado-cristao">Git Hub</a></li>
                    <li>Help others by installing or managing it at <a href="/forum">Cristian Care Forum</a> </li>
                    <li>By Proposing new features or bug fixes at <a href="/contact">Contact Form</a></li>
                    <li>Promoting it by spreading this site link ahead.</li>
                </ul>
                <p></p>

            </section>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
