<div id="releases" class="container" v-cloak>

    <h3 class="mt-3"><%=__('Available Releases')%></h3>

    <hr>
    
    <table class="table table-striped mt-2">
        <thead>
        <tr>
            <th id="1">Date</th>
            <th id="2">Name</th>
            <th id="3">Details</th>
            <th id="4">Download</th>
        </tr>
        </thead>
        <tbody>
        <% for(let release of versions) { %>
        <tr>
            <td headers="1"><%=release.date%> </td>
            <td headers="2"><%=release.name%></td>
            <td headers="3"><%=release.details%></td>
            <td headers="4"><a href="<%=release.url%>"> <em class="fa fa-2x fa-download"></em>  </a> </td>
        </tr>
        <% } %>
        </tbody>
    </table>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
